1Password
BraveSoftware
btop
chromium
Code
dconf
discord
Electron
environment.d
fastfetch
fcitx
fcitx5
fish
fontconfig
git
google-chrome
google-chrome-beta  
google-chrome-unstable
gtk-3.0
gtk-4.0
ibus
kdeconnect
lazydocker
lazygit
libinput-gestures
libreoffice
mako
Microsoft
Microsoft Teams - Preview
microsoft-edge-dev
mise
MQTT-Explorer
nautilus
NewWayBar
NVIDIA Corporation
nvim
nwg-displays
obsidian
pulse
qalculate
Scripts
Signal
Slack
spotify
systemd
team
Typora
uwsm
vivaldi
vivaldi-snapshot
vscode-sqltools
wal
walker
wavemon
waybar.bak
wireshark
xournalpp
yay
ZapZap
lazygit
zsh
brave-flags.conf
chromium-flags.conf
libinput-gestures.conf
mimeapps.list
omarch.ttf
pavucontrol.ini
user-dirs.dirs
user-dirs
zoom.conf
zoomus.conf
QtProject.conf
uppaal
teams
octave
go
vesktop
gopls
LM Studio
matplotlib
menus
netbird
Pinta
teams
fyne